body{
    margin: 0;
    overflow-x: hidden;
}
#canvas{
    max-width: 500px;
    width: 100%;
    display: flex;
    margin: auto;
    height:100%;
}
.embed-responsive {
    padding-top: 10%;
}

.hidden{
    display: none;
    &.flex{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;
        .boton-ganar{
            position: absolute;
            top: 0px;
            width: 12vw;
            max-width: 60px;
            z-index: 1;
        }
        .fondo{
            position: absolute;
            width: 140%;
            z-index: -1;
        }
        #spin{
            position: absolute;
            bottom: -100px;
            .boton-jugar{
                width: 100%;
                max-width: 160px;
            }
        }
        .logo{
            width: 140px;
            position: absolute;
        }
        .marco{
            position: absolute;
            width: 100%;
            max-width: 500px;
            top: 20px;
        }
    }
}